@font-face {
  font-family: Lato;
  font-weight: 600;
  src: url(./assets/Lato/Lato-SemiBold.ttf);
}
/* Reset all margins, paddings, and borders */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* BEGIN ZONE 1 */
header {
  position: fixed;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  top: 0;
  background: linear-gradient(
    180deg,
    #5499f8 0%,
    #5499f8 87.91%,
    rgba(84, 153, 248, 0) 100%
  );
  padding: 0 100px;
  height: 103px;
  z-index: 999;
}

.menu-button {
  filter: drop-shadow(4px 5px 0px #02187e);
  width: 42px;
  left: 100px;
  top: 16px;
  margin-left: -4px;
  position: absolute;
}
.menu-button .line {
  margin-bottom: -1px;
  width: 42px;
  height: 12px;
  border-radius: 111px;
  border: 4px solid #2981ff;
  background: #ffe901;
  box-sizing: border-box;
}

.logo {
  left: 50%;
  translate: -50%;
  position: fixed;
  width: auto;
  height: 301px;
  top: 91px;
  transform: translateX(-15px);
  transition: all 1s;
}
.logo.logo-menu {
  top: 17px;
  /* width: 133px; */
  height: 68px;
  transform: none;
}

.buy-button {
  width: 200px;
  position: absolute;
  top: 20px;
  right: 100px;
}
.button {
  height: 50px;
  flex-shrink: 0;
  border-radius: 111px;
  border: 8px solid var(--2982-ff, #2982ff);
  box-sizing: content-box;
  margin-top: -8px;
  margin-right: -8px;
  background: #ffe901;
  cursor: pointer;
  /* Drop Shadow */
  box-shadow: 4px 5px 0px 0px #02187e;
  /* Text */
  color: #02187e;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 2.3px;
  line-height: 94.5%; /* 18.9px */
  -webkit-text-stroke: 2.5px #02187e;
  transition: all 0.1s;
}
.button:hover {
  transform: translate(-1px, -2px);
  box-shadow: 5px 7px 0px 0px #02187e;
}
.button:active {
  box-shadow: none;
  transform: translate(4px, 5px);
}
.relative {
  position: relative;
}
.scene-one-contain {
  position: relative;
  /* top:-15px; */
  width: 100%;
  margin-top: 128px;
  height: auto;
  /* background-color: #5499f8; */
}
.scene-one-contain::before {
  position: absolute;
  content: ' ';
  top: -40px;
  width: 100%;
  height: 140px;
  display: block;
  background-color: #5499f8;
  background: linear-gradient(
    180deg,
    #5499f8 0%,
    #5499f8 87.91%,
    rgba(84, 153, 248, 0) 100%
  );
}
.scene-one-background {
  height: auto;
  width: 100%;
}

.scene-one-buildings-left {
  position: absolute;
  bottom: -2.75%;
  left: -0.02%;
  width: 32.2%;
  height: auto;
}
.scene-one-buildings-middle {
  position: absolute;
  bottom: -0.3%;
  left: 50%;
  translate: -45.8%;
  width: 43.67%;
  height: 225px;
}
.scene-one-buildings-right {
  position: absolute;
  bottom: -1.5%;
  right: 0;
  width: 29.84%;
  height: auto;
}
.spider {
  width: 100%;
}
.scene-one-spider-left {
  transition: all 0.4s;
  position: absolute;
  bottom: 2.6%;
  left: 7%;
  width: 28.125%;
}
.scene-one-spider-middle {
  transition: all 0.4s;
  position: absolute;
  bottom: -2.9%;
  left: 50%;
  translate: -50.75%;
  width: 36.328%;
}
.scene-one-spider-middle .spiderweb {
  position: absolute;
  width: 163%;
  left: -125.5%;
  bottom: -37%;
}

.scene-one-spider-right {
  transition: all 0.4s;
  position: absolute;
  bottom: 16.5%;
  right: 15%;
  width: 30.703125%;
  height: auto;
}
.scene-one-spider-right .spiderweb {
  position: absolute;
  right: 27.3%;
  translate: 100%;
  bottom: -11.4%;
  width: 113.4860050890585%;
}

.spidey-and-friends-background {
  position: absolute;
  top: 89.5%;
  left: 0px;
  width: 100%;
}
.spidey-and-friends {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding-left: 100px;
  padding-top: 54px;
  box-sizing: border-box;
}
.spidey-and-friends-content {
  margin-top: 90px;
}
.spidey-and-friends h1 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 94.5%; /* 56.7px */
  margin-bottom: 20px;
}
.spidey-and-friends p {
  color: #FFF;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.spidey-and-friends-goblin {
  translate: -17px;
  /* position: relative;
  right: 0; */
}

/* END ZONE 1 */

/* BEGIN ZONE 2 */

/* END ZONE 2 */

/* BEGIN ZONE 3 */

.zone-3-white-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background: #fff;
  z-index: -1;
}
.zone-3-img-bg-1 {
  position: relative;
  height: 566px;
  max-height: 566px;
  width: 100%;
}
.zone-3-img-bg-1-background {
  position: absolute;
  width: 100%;
  height: auto;
}
.zone-3-card {
  transform: translateY(0);
  left: 40px;
  position: absolute;
}
.zone-3-card-invisible {
  opacity: 0;
}
.zone-3-card-3 {
  opacity: 1;
  transform: rotate(0deg) translateY(210px) skewY(0deg);
  animation: card-3 1s ease-in-out;
}
.zone-3-card-2 {
  opacity: 1;
  animation: card-2 1s ease-in-out;
  transform: rotate(0deg) translateY(0px) skewY(0deg);
}
.zone-3-card-1 {
  opacity: 1;
  transform: rotate(0deg) translateY(-140px) skewY(0deg);
  animation: card-1 1s ease-in-out;
}
.zone-3-container {
  max-width: 1080px;
  padding: 0 100px;
  width: 100%;
  margin: 0 auto;
}

.zone-4-background {
  background-image: url('./assets/zone-3/zone-3-4.png');
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.zone-3-black {
  height: 600px;
  padding-top: 175px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.zone-3-text span {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 0.95;
  overflow: hidden;
  max-width: 15ch;
  display: -webkit-box;
}
.zone-3-relative {
  position: relative;
}
.zone-3-bg-block-2 {
  width: 100%;
  height: 527px;
  box-shadow: 26px 29px 41px 14px rgba(0, 0, 0, 0.15);
}
.zone-3-bg-2-part {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 1077px;
  max-height: 527px;
  pointer-events: none;
}
.index-0 {
  z-index: 0;
}
.index-1 {
  z-index: 1;
}
.index-2 {
  z-index: 2;
}
.index-3 {
  z-index: 3;
}
.index-4 {
  z-index: 4;
}
.zone-3-character {
  transition: scale 0.1s ease-in-out;
  position: absolute;
}
.character-left {
  top: -100px;
  left: 30px;
}
.zone-3-character:hover{
  scale: 1.05;
}

.character-right {
  left: unset;
  bottom: unset;
  right: -45px;
  top: 105px;
}
.character-middle {
  left: unset;
  right: 150px;
  bottom: 10px;
  top: unset;
}

@keyframes card-3 {
  0% {
    opacity: 0;
    transform: rotate(15deg) translateY(0) skewY(0);
  }
  40% {
    opacity: 0#000;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(0) translateY(210px) skewY(7deg);
  }
}
@keyframes card-2 {
  0% {
    opacity: 0;
    transform: rotate(30deg) translateY(-50px) skewY(0);
  }
  40% {
    opacity: 0#000;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(0) translateY(0px) skewY(-10deg);
  }
}
@keyframes card-1 {
  0% {
    opacity: 0;
    transform: rotate(45deg) translateY(0) skewY(0);
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(-140px) skewY(5deg);
  }
}
.border-test {
  border: 3px solid red;
}
/* END ZONE 3 */

/* BEGIN ZONE 4 */
.zone-4 {
  font-family: "Lato", sans-serif;
  max-width: 1200px;
  margin: 200px auto;
  width: 100%;
  position: relative;
  top: 55px;
}

.zone-4 h2 {
  width: 100%;
  font-size: 60px;
  font-weight: 600;
  line-height: 94.5%;
}

.image-text {
  display: flex;
  justify-content: space-between;
}

.col-left {
  width: 550px;
}

.col-right {
  width: 467px;
}

.imgSticky {
  padding: 50px 0;
  position: fixed;
  top: 150px;
  width: 550px;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.imgSticky img {
  width: 100%;
}

.stickyText {
  padding: 100px 0;
  width: 470px;
  transition: opacity 1s ease-in-out;
}

.stickyText:first-child {
  margin-top: 100px;
}
.stickyText p {
  font-size: 20px;
  font-weight: 400;
  line-height: 94.5%;
}
.stickyText h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 94.5%;
  margin-bottom: 20px;
}
/* END ZONE 4 */

/* BEGIN ZONE 5 */

/* END ZONE 5 */

/* BEGIN ZONE 6 */

/* END ZONE 6 */

/* BEGIN ZONE 7 */

/* END ZONE 7 */
