/* Reset all margins, paddings, and borders */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* BEGIN ZONE 1 */
header {
  position: fixed;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  top: 0;
  background: linear-gradient(
    180deg,
    #5499f8 0%,
    #5499f8 87.91%,
    rgba(84, 153, 248, 0) 100%
  );
  padding: 0 100px;
  height: 103px;
  z-index: 999;
}

.menu-button {
  filter: drop-shadow(4px 5px 0px #02187e);
  width: 42px;
  left: 100px;
  top: 16px;
  margin-left: -4px;
  position: absolute;
}
.menu-button .line {
  margin-bottom: -1px;
  width: 42px;
  height: 12px;
  border-radius: 111px;
  border: 4px solid #2981ff;
  background: #ffe901;
  box-sizing: border-box;
}

.logo {
  left: 50%;
  translate: -50%;
  position: fixed;
  width: auto;
  height: 301px;
  top: 91px;
  transform: translateX(-15px);
  transition: all 1s;
}
.logo.logo-menu {
  top: 17px;
  /* width: 133px; */
  height: 68px;
  transform: none;
}

.buy-button {
  width: 200px;
  position: absolute;
  top: 20px;
  right: 100px;
}
.button {
  height: 50px;
  flex-shrink: 0;
  border-radius: 111px;
  border: 8px solid var(--2982-ff, #2982ff);
  box-sizing: content-box;
  margin-top: -8px;
  margin-right: -8px;
  background: #ffe901;
  cursor: pointer;
  /* Drop Shadow */
  box-shadow: 4px 5px 0px 0px #02187e;
  /* Text */
  color: #02187e;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 2.3px;
  -webkit-text-stroke: 2px #02187e;
  transition: all 0.1s;
}
.button:hover {
  transform: translate(-1px, -2px);
  box-shadow: 5px 7px 0px 0px #02187e;
}
.button:active {
  box-shadow: none;
  transform: translate(4px, 5px);
}
.relative {
  position: relative;
}
.scene-one-contain {
  position: relative;
  /* top:-15px; */
  width: 100%;
  margin-top: 128px;
  height: auto;
  /* background-color: #5499f8; */
}
.scene-one-contain::before {
  position: absolute;
  content: " ";
  top: -40px;
  width: 100%;
  height: 140px;
  display: block;
  background-color: #5499f8;
  background: linear-gradient(
    180deg,
    #5499f8 0%,
    #5499f8 87.91%,
    rgba(84, 153, 248, 0) 100%
  );
}
.scene-one-background {
  height: auto;
  width: 100%;
}

.scene-one-buildings-left {
  position: absolute;
  bottom: -2.75%;
  left: -0.02%;
  width: 32.2%;
  height: auto;
}
.scene-one-buildings-middle {
  position: absolute;
  bottom: -0.3%;
  left: 50%;
  translate: -45.8%;
  width: 43.67%;
  height: 225px;
}
.scene-one-buildings-right {
  position: absolute;
  bottom: -1.5%;
  right: 0;
  width: 29.84%;
  height: auto;
}
.spider {
  width: 100%;
}
.scene-one-spider-left {
  position: absolute;
  bottom: 2.6%;
  left: 7%;
  width: 28.125%;
}
.scene-one-spider-middle {
  position: absolute;
  bottom: -2.9%;
  left: 50%;
  translate: -50.75%;
  width: 36.328%;
}
.scene-one-spider-middle .spiderweb {
  position: absolute;
  width: 163%;
  left: -125.5%;
  bottom: -37%;
}

.scene-one-spider-right {
  position: absolute;
  bottom: 16.5%;
  right: 15%;
  width: 30.703125%;
  height: auto;
}
.scene-one-spider-right .spiderweb {
  position: absolute;
  right: 27.3%;
  translate: 100%;
  bottom: -11.4%;
  width: 113.4860050890585%;
}

.spidey-and-friends-background {
  position: absolute;
  top: 89.5%;
  left: 0px;
  width: 100%;
}
.spidey-and-friends {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding-top: 54px;
}
.spidey-and-friends-goblin {
  /* position: relative;
  right: 0; */
}



/* END ZONE 1 */

/* BEGIN ZONE 2 */




/* END ZONE 2 */

/* BEGIN ZONE 3 */




/* END ZONE 3 */

/* BEGIN ZONE 4 */




/* END ZONE 4 */

/* BEGIN ZONE 5 */




/* END ZONE 5 */

/* BEGIN ZONE 6 */




/* END ZONE 6 */




/* BEGIN ZONE 7 */

/* END ZONE 7 */
