body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #000;

}
.zone-2{
    background-color: white;
    width: 100%;
    height: 200px;
}
.zone-3-white-bg{
    position: absolute;
    width: 100%;
    height: 50%;
    background: #fff;
    z-index: -1;
}
.zone-3-img-bg-1{
    position: relative;
    background-image: url('../assets/zone-3/1st-bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    height: 566px;
    max-height: 566px;
    width: 100%;
}
.zone-3-card{
    position: absolute;
    left: 0;
}
.zone-3-card-3{
    top: 210px;
}
.zone-3-card-1{
    top: -140px;
    left: 15px;
}
.zone-3-container{
    max-width: 1080px;
    margin: 0 auto;
}

.zone-4{
    background-image: url("../assets/zone-3/zone-3-4.webp");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.zone-3-black{
    height: 600px;
    padding-top: 175px;
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.zone-3-text span{
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: .95;
    overflow: hidden;
    max-width: 20ch;
    z-index: 4;
    display: -webkit-box;
}
.zone-3-relative{
    position: relative;
}
.zone-3-bg-block-2{
    width: 100%;
    height: 527px;
    box-shadow: 26px 29px 41px 14px rgba(0, 0, 0, 0.15);
}
.zone-3-bg-2-part{
    position: absolute;
    left: 0;
    top: 0;
    max-width: 1077px;
    max-height: 527px;
}
.index-0{
    z-index: 0;
}
.index-1{
    z-index: 1;
}
.index-2{
    z-index: 2;
}
.index-3{
    z-index: 3;
}
.index-4{
    z-index: 4;
}
.zone-3-character{
    position: absolute;
}
.character-left{
    top: -100px;
    left: 30px;
}
.character-right{
    left: unset;
    bottom: unset;
    right: -45px;
    top: 105px;
}
.character-middle{
    left: unset;
    right: 150px;
    bottom: 10px;
    top: unset;
}