body {
  font-family: "Lato", sans-serif;
  margin: 0;
  height: auto;
}
.space {
  position: relative;
  top: -100px;
  left: 0;
  width: 100%;
  height: 500px;
  background: #000000;
}
.space2{
  height: 100vh;
  width: 100%;
  background-color: orange;
}
.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  position: relative;
  top: 55px;
}

.container h2 {
  width: 100%;
  font-size: 60px;
  font-weight: 600;
  line-height: 94.5%;
}

.image-text {
  display: flex;
  justify-content: space-between;
}

.col-left {
  width: 550px;
}

.col-right {
  width: 467px;
}

.imgSticky {
  padding: 50px 0;
  position: fixed;
  top: 150px;
  width: 550px;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.imgSticky img {
  width: 100%;
}

.stickyText {
  padding: 100px 0;
  width: 470px;
  transition: opacity 1s ease-in-out;
}

.stickyText:first-child {
  margin-top: 100px;
}
.stickyText p {
  font-size: 20px;
  font-weight: 400;
  line-height: 94.5%;
}
.stickyText h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 94.5%;
  margin-bottom: 20px;
}
