.my-32 {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .py-32 {
    padding-top: 32px;
    padding-bottom: 32px;
  }

.play-game-page-container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.breadcumbs {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--white);
}
.breadcumbs .breadcumb {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.play-game-container {
    display: flex;
    padding: 16px 0px;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    color: var(--white)
}
.play-game-title {
    padding: 16px;
    border-radius: 4px;
    background: var(--black, #0F0D16);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    /* box-sizing: content-box; */
    display: flex;
    /* height: 45px; */
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.play-game-row {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 8px;
    border-radius: 4px;
    background: var(--black, #0F0D16);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.play-game-content {
    padding: 8px;
    width: 100%;
    object-fit: cover;
}